<!DOCTYPE html> 
<!-- Trying to load jquery and data tables fix-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js" />

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js" />


<!-- Used -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!-- For UI Icons  -->
<!-- https://fontawesome.com/icons/exclamation?style=solid -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


{% block stylesheet %}

{% endblock %}
<html>
    <head>
        {% block headstylesheet %}

        {% endblock %}
    </head>
    <body class="">

            {% block content %}

            {% endblock %}


            {% block scripts %}

            {% endblock %}
    </body>
</html>

